:root {
  --maincolor: #fd8664;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
}

main {
  margin: 0rem 10rem;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
}

.headerlogo {
  height: 3.5rem;
  margin-left: 1rem;
}

.logolink {
  align-self: center;
}

.headerleft {
  display: flex;
}

/* Navigation */

.navbar {
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: #707070;
  align-self: center;
  padding: 0.8rem;
}

#shoppinglist {
  background: var(--maincolor);
}

.fa-list-ul {
  background: var(--maincolor);
  color: white;
  padding: 0.8rem;
  font-size: 2rem;
}

.active {
  border-bottom: 1px solid var(--maincolor);
}
/* Home Page */

/* Recipes */
.recipes {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.recipeblock {
  margin: 0.5rem 1rem;
  max-width: 20rem;
}

/* .recipeblock h2 {
  font-weight: 400;
  font-size: 1rem;
} */

.recipelink h2,
.recipelink {
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.recipelink:hover h2.recipeheader {
  color: var(--maincolor);
  text-decoration: underline;
}

.recipeimagecontainer {
  width: 200px;
  height: 200px;
}

.recipeimagecontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--maincolor);
  color: white;
  padding: 1rem;
}

.footercontact {
  /* padding: 1rem; */
  border-right: 1px solid white;
}

footer h2,
footer p {
  margin: 0;
}

footer h2 {
  font-size: 1rem;
}

footer p {
  font-size: 0.8rem;
}

/* .footerlogo {
  display: flex;
}

.footerlogo img {
  height: 3.5rem;
  align-self: center;
  color: white;
  margin-left: 1rem;
}
 */
.footersocial {
  display: flex;
  justify-content: center;
  border-left: 1px solid white;
}

.footersocial i {
  font-size: 2rem;
  align-self: center;
  margin: 0 1.5rem;
}

/* About page */

#about {
  max-width: 1000px;
  margin: 0 auto;
}

#about h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  color: #707070;
}

#about p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  line-height: 2rem;
}

.contactlink {
  color: var(--maincolor);
}

/* Contact page */

#contactform {
  margin-left: 19rem;
}

#contact {
  max-width: 1000px;
  margin: 0 auto;
}

#contact h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  color: #707070;
}

#contact p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  text-align: center;
}

input[type="text"],
input[type="email"],
#contactform textarea {
  box-sizing: border-box;
  padding: 0.2rem;
  width: 24.5rem;
  margin: 0.8rem 0 0.2rem 0;
}

#contactform span {
  display: block;
  font-size: 0.7rem;
  margin: 0;
  line-height: 0.5rem;
  color: red;
}

#contactform textarea {
  height: 7rem;
}

button[type="submit"] {
  margin: 0.2rem 0;
  background: var(--maincolor);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
