:root {
  --maincolor: #fd8664;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
}

main {
  margin: 0rem 10rem;
}

.loadingcontainer {
  grid-column: 2/4;
  justify-content: center;
  margin: 0 auto;
}

.loadingindicator {
  height: 15rem;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
}

.headerlogo {
  height: 3.5rem;
  margin-left: 1rem;
}

.logolink {
  align-self: center;
}

.headerleft {
  display: flex;
}

/* Navigation */

.navbar {
  display: flex;
  margin-bottom: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #707070;
  align-self: center;
  padding: 1.8rem;
}

#shoppinglist {
  background: var(--maincolor);
  padding: 0.6rem;
}

.fa-list-ul {
  background: var(--maincolor);
  color: white;
  padding: 0.8rem;
  font-size: 2rem;
}

.active {
  border-bottom: 1px solid var(--maincolor);
}
/* Home Page */

/* Recipes */
.recipes {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.recipeblock {
  margin: 0.5rem 1rem;
  max-width: 20rem;
}

/* .recipeblock h2 {
  font-weight: 400;
  font-size: 1rem;
} */

.recipelink h2,
.recipelink {
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.recipelink:hover h2.recipeheader {
  color: var(--maincolor);
  text-decoration: underline;
}

.recipeimagecontainer {
  width: 200px;
  height: 200px;
}

.recipeimagecontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--maincolor);
  color: white;
  padding: 1rem;
}

.footercontact {
  border-right: 1px solid white;
}

.footercontact a {
  text-decoration: none;
  color: white;
  position: relative;
}

.footercontact a:after {
  border-bottom: 2px solid white;
  transition: 0.2s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
}

.footercontact a:hover:after {
  width: 100%;
}

footer h2,
footer p {
  margin: 0;
}

footer h2 {
  font-size: 1rem;
}

footer p {
  font-size: 0.8rem;
}

.footerlogo {
  display: flex;
}

.footerlogo img {
  height: 3.5rem;
  margin: auto;
}

.footersocial {
  display: flex;
  justify-content: center;
  border-left: 1px solid white;
}

.footersocial i {
  font-size: 2rem;
  align-self: center;
  margin: 0 1.5rem;
}

.fa-instagram {
  background: -webkit-linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  transition: 0.5s;
}

.fa-instagram:hover {
  transform: scale(1.08);
  background-position: right center;
}

.fa-facebook {
  background: -webkit-linear-gradient(120deg, #3b5998, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
  background-size: 200%;
}

.fa-facebook:hover {
  background-position: right center;
  transform: scale(1.08);
}

.fa-twitter {
  background: -webkit-linear-gradient(
    45deg,
    #66757f,
    #00acee,
    #36d8ff,
    #f5f8fa,
    #ffffff
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
  background-size: 200%;
}

.fa-twitter:hover {
  background-position: right center;
  transform: scale(1.08);
}
/* About page */

#about {
  max-width: 1000px;
  margin: 0 auto;
}

#about h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  color: #707070;
}

#about p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  line-height: 2rem;
}

.contactlink {
  color: var(--maincolor);
}

/* Contact page */

#contactform {
  text-align: center;
}

#contact {
  max-width: 1000px;
  margin: 0 25rem 2rem 25rem;
  /* border: 0.5px solid #707070; */
}

#contact:focus-within {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(1.03);
  transition: ease-in-out;
  transition-duration: 0.25s;
}

#contact h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  color: #707070;
}

#contact p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  text-align: center;
}

input[type="text"],
input[type="email"],
#contactform textarea {
  box-sizing: border-box;
  padding: 0.2rem;
  width: 24.5rem;
  margin: 0.8rem 0 0.2rem 0;
}

#contactform span {
  display: block;
  font-size: 0.7rem;
  margin: 0;
  line-height: 0.5rem;
  color: red;
}

#contactform textarea {
  height: 7rem;
}

button[type="submit"] {
  margin: 0.2rem 0;
  background: var(--maincolor);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

#message {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

/* Specific Recipe Page */
.recipe {
  margin: 0 10rem;
}

.recipecontainer {
  display: grid;
  grid-template-areas:
    "image  image"
    "header header"
    "excrpt excrpt"
    "ingred instr";
}

.ingredcontainer {
  grid-area: ingred;
}

.instrcontainer {
  grid-area: instr;
}

.recipe h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #707070;
  text-align: center;
  grid-area: header;
}

.recipe p {
  font-size: 1.3rem;
  margin: 0 auto;
  grid-area: excrpt;
}

.recipe img {
  object-fit: cover;
  width: 100%;
  grid-area: image;
}

.ingredcontainer ul {
  list-style-type: none;
  padding: 0;
}

.ingredcontainer li {
  margin: 0.2rem 0;
}

.instrcontainer ol {
  padding: 0;
}

.instrcontainer li {
  margin: 0.4rem 0;
}

.instrcontainer li:first-child {
  margin-top: 0.2rem;
}

.ingredcontainer h2,
.instrcontainer h2 {
  color: #707070;
  font-weight: 300;
  border-bottom: 1px solid #707070;
}
